body {
  background-image: url("/home/jp/coding/codefellows/201-d30/labs_jp/02lab/about_me/public/images/download (3).jpg");
  background-repeat: no-repeat;
  background-size:  100%; 
  color: red;
}

.greet {
  margin: 5%;
  padding: 2em;
  display: flex;
}

.work {
  flex-basis: 45%;
  box-sizing: border-box;
}

.space {
  flex-basis: 45%;
  box-sizing: border-box;
}

.center {
  margin: auto;
}

@media (min-width: 900px) {
  .align {
    display: flex;
    justify-content: space-around;
  }
}