/** {
  border: 3px solid black;
}*/

body {
  border: 3px solid black;
}

.wrapper {
  position: relative;
}

.wrapper img {
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.3;
}

h2 {
  position: absolute;
  margin-top: 2em;
  z-index: 2;
  margin-left:10em; 
}

.greet {
  position: relative;
}

.work {
  position: absolute;
  margin-top: 14em;
  padding: 1em;
  /*margin-top: -30em;*/
}

.space {
  position: absolute;
  padding: 1em;
  margin-top: 5em;
}