body {
  background-image: url("../public/images/headless.jpg");
  background-repeat: no-repeat;
  background-size:  100%; 
  background-color: lightgray;
  font-size: 2.5vh;
}

.greet {
  margin: 5%;
  padding: 2em;
  display: flex;
  color: cadetblue;
}

.work {
  flex-basis: 45%;
  box-sizing: border-box;
  color: cadetblue;
}

.space {
  flex-basis: 45%;
  box-sizing: border-box;
  color: cadetblue;
}

.center {
  margin: auto;
}

.sticky {
  display: flex;
  flex: 1;
  margin: auto;
}

#message {
  margin: auto;
  color: red;
}

@media (max-width: 650px) {
  body {
    background-image: url("../public/images/dark_slinger.png");
  }
}

@media (min-width: 900px) {
  .align {
    display: flex;
    justify-content: space-around;
  }
}